<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blacklight's Scoreserver - Scoring</title>

    <!-- Custom fonts for this template-->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- CUSTOM STYLESHEET -->
    <link rel="stylesheet" href="/assets/css/custom.css">


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- SIDEBAR -->
    {{ template "sidebar.html" . }}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {{ template "topbar.html" . }}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Scoring</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- STARTED AT -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Started at
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{.TimeStartedAt}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clock fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                                <div class="row no-gutters align-items-center"></div>
                            </div>
                        </div>
                    </div>

                    <!-- FINISHES AT -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Finishes at
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{.TimeFinishesAt}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clock fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <!-- LEFT -->
                    <div class="col-12 col-md-6">

                        {{ if .ScoreboardIsRunning }}
                        <!-- STOP SCORING CARD -->

                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#stopScoring" class="d-block card-header py-3" data-toggle="collapse"
                               role="button" aria-expanded="true" aria-controls="stopScoring">
                                <h6 class="m-0 font-weight-bold text-primary">Stop Scoring</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="stopScoring">
                                <div class="card-body">
                                    <form action="/scoring/stop" method="POST">
                                        <div class="row">

                                            <div class="col-12 col-md-6">

                                                <div class="form-group">
                                                    <button class="btn btn-primary btn-block">Stop Scoring</button>
                                                </div>

                                            </div>
                                            <div class="col-12 col-md-6">

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <small>
                                                    Stopping Scoring does <em>not</em> clear the database, injects,
                                                    reports,
                                                    or any other
                                                    data - it stops the scoring routine that runs score checks.
                                                </small>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        {{ else }}


                        <!-- COLLAPSIBLE START SCORING CARD -->
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#startScoring" class="d-block card-header py-3" data-toggle="collapse"
                               role="button" aria-expanded="true" aria-controls="startScoring">
                                <h6 class="m-0 font-weight-bold text-primary">Start Scoring</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="startScoring">
                                <div class="card-body">
                                    <form action="/scoring/start" method="POST">
                                        <div class="row">

                                            <div class="col-12 col-md-6">

                                                <!-- DURATION IN HOURS -->
                                                <div class="form-group row">
                                                    <div class="col-md-3">
                                                        <label for="start-hours">Hours</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="number" id="start-hours" class="form-control"
                                                               value="0" name="hours">
                                                        <small>The duration in hours.</small>
                                                    </div>
                                                </div>

                                                <!-- DURATION IN MINUTES -->
                                                <div class="form-group row">
                                                    <div class="col-md-3">
                                                        <label for="start-minutes">Minutes</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="number" id="start-minutes" class="form-control"
                                                               value="0" name="minutes">
                                                        <small>The duration in minutes. Added to duration in
                                                            hours.</small>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-12 col-md-6">
                                                <!-- SCORING INTERVAL IN SECONDS -->
                                                <div class="form-group row">
                                                    <div class="col-md-3">
                                                        <label for="start-interval">Scoring Interval</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="number" id="start-interval" class="form-control"
                                                               value="0" name="interval">
                                                        <small>The score check interval, in seconds.</small>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <button class="btn btn-primary btn-block">Start Scoring</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10"><small>
                                                Starting Scoring does <em>not</em> clear the database, injects,
                                                reports,
                                                or any other
                                                data - it starts the scoring routine that runs score checks.
                                            </small></div>
                                            <div class="col-md-1"></div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        {{ end }}
                    </div>

                    <!-- RIGHT -->
                    <div class="col-12 col-md-6">

                        <!-- COLLAPSIBLE RESTART SCORING CARD -->
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#restartScoring" class="d-block card-header py-3" data-toggle="collapse"
                               role="button" aria-expanded="true" aria-controls="restartScoring">
                                <h6 class="m-0 font-weight-bold text-primary">Restart Scoring</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="restartScoring">
                                <div class="card-body">
                                    <form action="/scoring/restart" method="POST">
                                        <div class="row">

                                            <div class="col-12 col-md-6">

                                                <!-- DURATION IN HOURS -->
                                                <div class="form-group row">
                                                    <div class="col-md-3">
                                                        <label for="restart-hours">Hours</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="number" id="restart-hours" class="form-control"
                                                               value="0" name="hours">
                                                        <small>The duration in hours.</small>
                                                    </div>
                                                </div>

                                                <!-- DURATION IN MINUTES -->
                                                <div class="form-group row">
                                                    <div class="col-md-3">
                                                        <label for="restart-minutes">Minutes</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="number" id="restart-minutes" class="form-control"
                                                               value="0" name="minutes">
                                                        <small>The duration in minutes. Added to duration in
                                                            hours.</small>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="col-12 col-md-6">
                                                <!-- SCORING INTERVAL IN SECONDS -->
                                                <div class="form-group row">
                                                    <div class="col-md-3">
                                                        <label for="restart-interval">Scoring Interval</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="number" id="restart-interval" class="form-control"
                                                               value="0" name="interval">
                                                        <small>The score check interval, in seconds.</small>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <button class="btn btn-primary btn-block">Restart Scoring</button>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <small>
                                                    Restarting scoring will terminate the scoring routine if it is
                                                    running,
                                                    and
                                                    restart it.
                                                    It will also reset any data including the database, injects,
                                                    reports, et
                                                    cetera. Note
                                                    that it <em>will not</em> reset scored services. Use this to begin a
                                                    new
                                                    game.
                                                </small>
                                            </div>
                                            <div class="col-md-1"></div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-12 col-md-12">
                        There will probably be more management functions here eventually, including
                        <ul>
                            <li>managing score check records</li>
                            <li>clearing/editing service checks</li>
                            <li>manually adding or subtracting score check points</li>
                            <li>scoring injects</li>
                            <li>scoring breach reports</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Kyle Mistele 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- MESSAGES TOASTER -->
{{ template "messages.html" .Messages }}

<!-- Bootstrap core JavaScript-->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/assets/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/assets/js/demo/chart-area-demo.js"></script>

</body>

</html>
